{% extends 'parent.html' %}  
<!-- template inheritance -->

{% load static %}
{% block body %}
<div class="row my-4">
    <div class="col-sm-7 my-4">
        <h1 style="text-align: center;">ABOUT <b style="color:#800f2f ;">NOU e-Gyan PORTAL</b></h1>
        <p class="px-5"><b>Nalanda Open University</b> welcomes all our students, faculties & study centres to the very new & innovative online study portal <b>NOU e-Gyan</b>. The portal is a unique initiative by Hon'ble Vice-Chancellor <b>Prof. (Dr.) K C Sinha</b>, which aims at providing online study material to the students of NOU.The portal is accessible from any hook and corner of the world if the system allows the permission to its users. It is also fully secured and accessible 24 x 7 to its authorised users. It will resolve the academic issues such as E-content Distribution, Delivery, Tracking, Assessment, Progress Monitoring & Controlling of all stakeholders of the system i.e. students, teachers, study centre administrators as well as Nalanda Open University Admins when they are at a distance.</p>
    </div>
    <div class="col-sm-5 my-4 px-4">
        <a href="https://www.youtube.com/watch?v=jVl8uLz8f9w">
            <img src="{% static 'images/egyan.jpg' %}" alt=""  height="260" width="450">
        </a>
    </div>
</div>
{% endblock %}